# Sanal Ortam (Virtual Environment)
.venv/
venv/
ENV/
env/

# Python Önbellek Dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE ve Editör Ayarları
.vscode/
.idea/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Tahmin Çıktıları
predictions.csv
